doctype html
html
    head
        title Deanery: Teacher #{name}
    body
        h1 #{name}
        h2 Subjects
        each subject in subjects
            div
                h3 #{subject.name}
                table
                    tr
                        th
                        each assignment in subject.assignments
                            th #{assignment.name}

                    // - console.log(subject)
                    each student in subject.students
                        // - console.log(student.lastName)
                        // - let fMarks = student.marks.filter(function(m) {return m.subject.name === subject.name});
                        // - let oMarks = subject.assignments.map(function(a) {return {fMarks.
                        // - let fMarks = student.marks.filter(function(m) {return m.subject === subject});
                        tr
                            td #{student.firstName} #{student.lastName}
                            // each mark in fMarks
                            each mark in student.marks
                                td
                                    #{mark.value}
                                    form#formDel(name="delete", method="post", action=`/delete_mark/${student._id}/${mark._id}?_method=DELETE`)
                                        button#btnDel(type="submit") DEL
                                    form#formUpd(name="update", method="post", action=`/update_mark/${student._id}/${mark._id}?_method=PUT`)
                                        //input#updMark(name=`u${mark._id}`, type="number", value=mark.value, step="0.5", min="2", max="5", onsubmit="if(value===2.5)value=2")
                                        input#updMark(name="upd", type="number", value=mark.value, step="0.5", min="2", max="5")
                                        button#btnUpd(type="submit") UPD
